/* *{
  border: solid 1px black;
} */
.card {
  width: 800px;
  display: flex;
  border: solid 2px black;
}
.left {
  width: 30%;
  background-image: url(https://cdn-general.cybassets.com/s/files/28976/ckeditor/pictures/content_a4ac6012-5233-4a81-a98d-859e99e30345.png);
  background-size: cover;
}

.right {
  width: 70%;
}

ul li {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}